{% extends "userprofile/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load account socialaccount %}

{% block title %}{% trans "change password" %}{% endblock %}

{% block pc_leftMenu %}
    {% if request.session.container != 'mobile' %}
        {{ block.super }}
    {% endif %}
{% endblock %}
{% block extra_head %}
    <style>
        @media (max-device-width: 599px){
            .section-gray .container{
                padding-left:0;
                padding-right:0;
            }

        }
    </style>
{% endblock %}
{% block pc_activeInfo %}
    <li>
{% endblock %}
{% block pc_activePwd %}
    <li class="active">
{% endblock %}

{% block pc_editPassword %}
    <div class="col-md-8">
        <form style="margin-top:108px;display: flex;flex-direction: column;align-items: center"
              class="row password-change" method="POST"
              action="{% url 'account_change_password' %}">
            {% csrf_token %}
            <div style="width: 230px;white-space: nowrap">
                <p style="font-size: 18px;font-weight: 400;color: #2DC9EB;width: 230px;">{% trans "Set Password" %}</p>

                <div style="margin-top: 19px;">
                    <span class="change-password-title">{{ form.oldpassword.label }}：</span><span
                        class="change-password-placeholder">{% trans "(Please verify the current password first)" %}</span>
                </div>

                {{ form.oldpassword }}

                <div style="margin-top: 19px">
                    <span class="change-password-title">{{ form.password1.label }}：</span><span
                        class="change-password-placeholder">{% trans "The minimum length is 8 characters" %}</span>
                </div>

                {{ form.password1 }}

                <div style="margin-top: 19px">
                    <span class="change-password-title">{{ form.password2.label }}：</span><span
                        class="change-password-placeholder">{% trans "The minimum length is 8 characters" %}</span>
                </div>

                {{ form.password2 }}
            </div>

            <button class="btn-submit" type="submit"
                    name="action">{% trans "Change Password" %}</button>

        </form>
    </div>
{% endblock %}


{% block leftMenu %}
    {% if request.session.container != 'mobile' %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block activeInfo %}
    <li>
{% endblock %}
{% block activePwd %}
    <li class="active">
{% endblock %}

{% block editPassword %}
    <div class="col-md-8">
        <div class="card card-price">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                    <div style="margin-top: 10px">
                        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-block btn-round btn-fill btn-info" type="submit"
                                    name="action">{% trans "Change Password" %}</button>
                            </br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}