{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block header %}
{% if request.session.container != 'mobile' %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block footer %}
{% if request.session.container != 'mobile' %}
{{ block.super }}
{% endif %}
{% endblock %}
{% block content %}
	<div class="text-center">
    <h1>{% trans "Password Reset" %}</h1>
    </div>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p class="text-center">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
{% endblock %}
