{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block header %}

{% endblock %}

{% block footer %}
{% if request.session.container != 'mobile' %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block title %}{% trans "reset password" %}{% endblock %}
{% block leftMenu %}
    {% if request.session.container != 'mobile' %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% load staticfiles %}
{% block extra_head %}
    <link href="{% static "css/UI-changes.css" %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="section section-gray" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="row" style="margin-top: 10px">
                <div class="col-md-8 col-md-offset-2">
                    <div class="card card-price g-card">
                        <div class="row">
                            <div class="col-md-9 col-md-offset-2 col-xs-9 col-xs-offset-2">
                                <div style="margin-top: 10px">
                                    <div class="g-logo"></div>
                                    <div class="g-title">{% trans "Password Reset" %}</div>
                                        {% if user.is_authenticated %}
                                        {% include "account/snippets/already_logged_in.html" %}
                                        {% endif %}

                                        <p class="g-prompt">{% trans "Forget your password? Don't worry, please enter your bound email address and we will send you an email to help you reset your password." %}</p>

                                        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            <input class="btn btn-block btn-round btn-fill btn-info g-sub" type="submit" value="{% trans 'Reset Password' %}" /> </br>
                                        </form>

                                        <p class="g-tel">{% blocktrans %}If you have any questions about resetting your password, please contact us in time. Contact number: +65 8618 3670.{% endblocktrans %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
