@import "base";

.input-account-title {
  margin: px2vw(62 0 16 0);
  font-size: px2vw(32);
}

.common-input {
  margin-top: px2vw(40);
}

#user-name-error-msg {
  width: $common-widget-width;
  margin: px2vw(16 auto 0);
  height: px2vw(33);
  font-size: px2vw(24);
  color: $common-error-color;
}

.gift {
  width: px2vw(467);
  display: block;
  margin: px2vw(52 auto 50);
}
