@import "base";


#phone-form {
  position: relative;
  width: px2vw(649);
  border: px2vw(2) dashed rgba(36, 203, 218, 0.68);
  background-color: #F6FEFE;
  margin: px2vw(98) auto px2vw(68);
  padding-top: px2vw(110);
  padding-bottom: px2vw(55);
}

.error-message {
  color: $common-error-color;
  font-size: px2vw(22);
  margin-top: px2vw(10);
  margin-left: px2vw(36);
}

.head-image {
  border-radius: 100px;
  top: px2vw(-56);
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  width: px2vw(124);
}

h4 {
  text-align: center;
  font-size: px2vw(32);
  font-weight: 500;
  line-height: px2vw(45);
  color: #00CFDD;

  span {
    color: #F88741;
  }
}

.area-code {
  font-size: px2vw(26);
  width: px2vw(164);
}

.phone-number {
  font-size: px2vw(26);
}

.input-title {
  margin-left: px2vw(36);
  margin-top: px2vw(83);
  display: flex;
  margin-bottom: px2vw(11);
}

#country {
  padding: px2vw(17 0 17 20);
  color: #6C7B8A;
  font-size: px2vw(24);
  width: px2vw(142);
  margin-left: px2vw(36);
  box-sizing: border-box;
  border-radius: px2vw(8 0 0 8);
  border: px2vw(2) #24CBDA solid;
}

#phone-input {
  width: px2vw(424);
  box-sizing: border-box;
  font-size: px2vw(24);
  color: #6C7B8A;
  padding: px2vw(17 0 17 20);
  border-radius: px2vw(0 8 8 0);
  border: px2vw(2) #24CBDA solid;
}

.submit-btn {
  margin-top: px2vw(62);
}

.contact-us {
  text-align: center;
  font-size: px2vw(28);
}

.contact-app {
  margin-left: px2vw(143);
}

.contact-group {
  margin-top: px2vw(37);
  display: flex;
  justify-content: center;

  .title {
    font-size: px2vw(26);
  }

  .contact-img {
    margin: px2vw(14 0 12);
    width: px2vw(166);
  }

  .footer {
    font-size: px2vw(26);
  }
}
