{% extends 'man/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Teachers of management" %}{% endblock %}

{% block content %}
	<div class="content">
		<div class="row">
				<form class="form-inline" action="{% url 'rechargerecordsquery' %}" method="get">
					<div class="form-group">
						<label for="exampleInputName2">查找用户名</label>
						<input type="text" class="form-control" name="username"  placeholder="">
					</div>

					<button type="submit" class="btn btn-default">submit</button>
				</form>
		</div>
		<div class="row" ><h1 style="text-align: center">缴费记录</h1> </div>
		<br><br>
		 <div class="row">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="text-center">
                                    <td>{% trans "username" %}</td>
                                    <td>{% trans "amount" %}</td>
                                    <td>{% trans "created_on" %}</td>
                                </tr>
                            </thead>
                            <tbody>
                            {% if abcs %}
                                {% for abc in abcs %}
                                    <tr class="text-center">
                                        <td>{{ abc.user.username }}</td>

                                        <td>{{ abc.amount }}</td>

                                        <td>
                                            {{ abc.created_on }}
                                        </td>

                                    </tr>
                                {% endfor %}
                            {% else %}
	                            <tr class="text-center"><td>未查询到充值记录，请重新输入用户名。</td></tr>
                            {% endif %}
                            </tbody>
                    </table>

                    </div>
                </div>


        </div>
	</div>

{% endblock %}

{% block extra_ending %}
	<script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
	<script type="text/javascript">

		//alert('??');
		$(function () {
			$("#selectpicker-programmes").change(function () {
				var programme_id = $(this).children('option:selected').val();
				//alert(programme_id);
				$(".selectpicker-courses").empty();
				$.get("{% url 'get_courses_by_programme' %}", {'programme_id': programme_id}, function (data, status) {
					console.log(status);
					if (status == 'success') {
						console.log(typeof(data));
						console.log(data);
						//alert("Data: " + data + "nStatus: " + status);
						var data = JSON.parse(data);
						console.log(typeof(data));
						$.each(data, function (n, value) {

							var course_id = value['pk'];
							var course_name = value['fields']['course_name'];
							console.log(course_id);
							console.log(course_name);
							var option = '<option value="' + course_id + '">' + course_name + '</option>';
							$(".selectpicker-courses").append(option);
						});

					}
				});
			});

			$("#selectpicker-users").change(function () {
				var tutor_id = $(this).children('option:selected').val();
				//alert(tutor_id);
				$.get("{% url 'get_tutor_courses' %}", {'tutor_id': tutor_id}, function (data, status) {
					console.log(status);
					if (status == 'success') {
						console.log(typeof(data));
						console.log(data);
						//alert("Data: " + data + "nStatus: " + status);
						var data = JSON.parse(data);
						console.log(typeof(data));
						var courses = data[0]['fields']['course'];
						var description_zhhans = data[0]['fields']['description_zhhans'];
						var description = data[0]['fields']['description'];
						console.log(courses);
						console.log(description_zhhans);
						console.log(typeof(courses));
						if (courses.length == 0) {
							console.log('meiyou !');
							var option = "<option disabled selected>" + "该老师没有设置courses!" + "</option>";
							$("#selectpicker-tutor-courses").empty();
							$("#selectpicker-tutor-courses").append(option);
						} else {
							//alert(courses);
							$("#selectpicker-tutor-courses").empty();
							var obj = $("#selectpicker-courses").children();
							console.log(obj);
							//var obj = document.getElementById("selectpicker-courses");
							//alert(obj);
							for (var i = 0; i < courses.length; i++) {
								//alert(i);
								//alert(courses[i]);
								var index = courses[i] - 1;
								var course_name = obj[index].text;
								//alert(course_name);
								var option = '<option value="' + courses[i] + '">' + course_name + '</option>';
								$("#selectpicker-tutor-courses").append(option);
							}
						}
						$("#description_zhhans").val(description_zhhans);
						$("#description").val(description);
					}
				});
			});

		});
		function edit_desc_zhhans() {
			var description_zhhans = $("#description_zhhans").val();
			var tutor_id = $('#selectpicker-users').children('option:selected').val();
			console.log('输入的desc:' + description_zhhans);
			console.log(tutor_id);
			$.ajax({
				type: 'POST',
				url: "{% url 'get_tutor_courses' %}",
				datatype: "json",
				data: {"tutor_id": tutor_id, "description_zhhans": description_zhhans},
				success: function (data) { //返回json结果
					//alert(data);
					alert('修改成功！');
					var data = JSON.parse(data);
					var description_zhhans = data[0]['fields']['description_zhhans'];
					$("#description_zhhans").val(description_zhhans);
					console.log('数据库返回的desc:' + description_zhhans);

				}
			});
		}
		function edit_desc() {
			var description = $("#description").val();
			var tutor_id = $('#selectpicker-users').children('option:selected').val();
			console.log('输入的desc:' + description);
			console.log(tutor_id);
			$.ajax({
				type: 'POST',
				url: "{% url 'get_tutor_courses' %}",
				datatype: "json",
				data: {"tutor_id": tutor_id, "description": description},
				success: function (data) { //返回json结果
					//alert(data);
					alert('修改成功！');
					var data = JSON.parse(data);
					var description = data[0]['fields']['description'];
					$("#description").val(description);
					console.log('数据库返回的desc:' + description);
				}
			});
		}
		function add_courses() {
			var courses_id = [];
			var obj = document.getElementById("selectpicker-courses");
			for (var i = 0; i < obj.options.length; i++) {
				if (obj.options[i].selected) {
					courses_id.push(obj.options[i].value);// 收集选中项
				}
			}
			courses_id = JSON.stringify(courses_id);
			var tutor_id = $('#selectpicker-users').children('option:selected').val();
			$.ajax({
				type: 'POST',
				url: "{% url 'get_tutor_courses' %}",
				datatype: "json",
				data: {"tutor_id": tutor_id, "courses_id": courses_id},
				success: function (data) { //返回json结果
					//alert(data);
					var data = JSON.parse(data);
					var courses = data[0]['fields']['course'];
					//var description = data[0]['fields']['description'];
					//$("#description").val(description);
					//alert(data);
					if (courses.length == 0) {
						console.log('meiyou !');
						var option = "<option disabled selected>" + "该老师没有设置courses!" + "</option>";
						$("#selectpicker-tutor-courses").empty();
						$("#selectpicker-tutor-courses").append(option);
					} else {
						//alert(courses);
						$("#selectpicker-tutor-courses").empty();
						var obj = $("#selectpicker-courses").children();
						console.log(obj);
						//var obj = document.getElementById("selectpicker-courses");
						//alert(obj);
						for (var i = 0; i < courses.length; i++) {
							//alert(i);
							//alert(courses[i]);
							var index = courses[i] - 1;
							var course_name = obj[index].text;
							//alert(course_name);
							var option = '<option value="' + courses[i] + '">' + course_name + '</option>';
							$("#selectpicker-tutor-courses").append(option);
						}
					}
					alert('增加成功！');
				}
			});
		}
		function delete_courses() {
			var courses_id = [];
			var obj = document.getElementById("selectpicker-tutor-courses");
			for (var i = 0; i < obj.options.length; i++) {
				if (obj.options[i].selected) {
					courses_id.push(obj.options[i].value);// 收集选中项
				}
			}
			courses_id = JSON.stringify(courses_id);
			var tutor_id = $('#selectpicker-users').children('option:selected').val();
			var is_delete = 1;
			console.log(courses_id);
			console.log(is_delete);
			$.ajax({
				type: 'POST',
				url: "{% url 'get_tutor_courses' %}",
				datatype: "json",
				data: {"tutor_id": tutor_id, "courses_id": courses_id, 'is_delete': is_delete},
				success: function (data) { //返回json结果
					//alert(data);
					var data = JSON.parse(data);
					var courses = data[0]['fields']['course'];
					//var description = data[0]['fields']['description'];
					//$("#description").val(description);
					//alert(data);
					if (courses.length == 0) {
						console.log('meiyou !');
						var option = "<option disabled selected>" + "该老师没有设置courses!" + "</option>";
						$("#selectpicker-tutor-courses").empty();
						$("#selectpicker-tutor-courses").append(option);
					} else {
						//alert(courses);
						$("#selectpicker-tutor-courses").empty();
						var obj = $("#selectpicker-courses").children();
						console.log(obj);
						//var obj = document.getElementById("selectpicker-courses");
						//alert(obj);
						for (var i = 0; i < courses.length; i++) {
							//alert(i);
							//alert(courses[i]);
							var index = courses[i] - 1;
							var course_name = obj[index].text;
							//alert(course_name);
							var option = '<option value="' + courses[i] + '">' + course_name + '</option>';
							$("#selectpicker-tutor-courses").append(option);
						}
					}
					alert('删除成功！');
				}
			});
		}
	</script>
{% endblock %}

   