{% extends 'course/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Assessment" %}{% endblock %}

{% block content %}
    <div class="pop-card-container pc" style="width: 648px;margin: 50px auto 50px">
        <div class="pop-card-circle-container">
            <div class="pop-card-circle">
                <div class="flex-column-center" style="margin-top: 23px">
                    <img src="{% static 'images/top_up.png' %}">
                    <p>{% trans "Assessment" %}</p>
                </div>
            </div>
        </div>

        <div class="pop-card-top-up" style="padding: 75px 1px 1px 1px;">
            <div class="flex-center circle-progress-container"
                 style="position: absolute; width: 80px;height: 80px;right: 50px;top: 120px">
                <div id="circle-progress-animator" style="position: absolute;left: 0;right: 0;top: 0;bottom: 0;"></div>
                <span id="circle-progress-text" style="font-size: 22px;color: #000000;">
                    0%
                </span>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-3" id="question_title">

                    </div>
                </div>
                <div class="row">
                    <div class="modal fade" id="loading" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" data-backdrop='static'>
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">{% trans "Notice" %}</h4>
                                </div>
                                <div class="modal-body">{% trans "loading...." %}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div style="margin-left: 10px" class="col-md-3 col-xs-10" id="question_num">

                    </div>
                    <div id="pc_question_content">

                    </div>
                    {% if request.user.is_authenticated %}
                    {% else %}
                        <div class="col-md-3 col-xs-3" id="pc_hide_Sign">
                            <a href="/accounts/signup/" style="margin-top: 50%;margin-right: 10px"
                               class="btn pull-right  btn-social btn-fill btn-round btn-twitter">
                                {% trans "Sign Up" %}
                            </a>
                        </div>
                    {% endif %}
                </div>

                <div class="row">
                    <div id="show_grade" style="margin-bottom: 10px"
                         class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">

                    </div>
                    <div id="pc_show_button" style="margin-bottom: 10px"
                         class="col-md-6 col-md-offset-3 text-center">
                        <button style="margin-right: 10px" onclick="clickLast()"
                                class="btn btn-lg  btn-round">
                            {% trans "previous" %}
                        </button>
                        <button style="margin-left: 10px" onclick="clickNext()"
                                class="btn btn-lg  btn-round ">{% trans "next" %}</button>
                    </div>
                    <form class="form" id="updateAssessment_form" action="/course/updateAssessment/"
                          method="post">
                        {% csrf_token %}
                        <input type="hidden" name="rightnumber" id="rightnumber"/>
                        <input type="hidden" name="detail" id="detail"/>
                        <input type="hidden" name="course_level" id="course_level"/>
                        <input type="hidden" name="programme" id="programme"/>
                    </form>
                </div>

            </div>
            <button onclick="clickNext()"
                    style="width: 200px;height: 44px;font-size: 16px;display: block;margin: 0 auto 17px"
                    class="btn-gradient-background">
                {% trans "skip" %}
            </button>
        </div>
    </div>



    <div class="section section-gray phone" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-3" id="question_title">

                        </div>
                        <div class="col-md-6">
                            <h4 class="text-center">{% trans title %}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                             data-backdrop='static'>
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">{% trans "Notice" %}</h4>
                                    </div>
                                    <div class="modal-body">{% trans "loading...." %}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div style="margin-left: 10px" class="col-md-3 col-xs-10" id="question_num">

                        </div>
                        <div class="col-md-5 col-xs-7" id="question_content">

                        </div>
                        <div class="col-md-3 col-xs-4">
                            <div class="col-md-3 col-xs-4 col-xs-offset-6" id="hide_submit">
                                <button onclick="clickNext()" style="margin-top: 10px;margin-right: 10px"
                                        class="btn pull-right btn-social btn-fill btn-round btn-twitter">
                                    {% trans "skip" %}
                                </button>
                            </div>
                        </div>
                        {% if request.user.is_authenticated %}
                        {% else %}
                            <div class="col-md-3 col-xs-3" id="hide_Sign">
                                <a href="/accounts/signup/" style="margin-top: 50%;margin-right: 10px"
                                   class="btn pull-right  btn-social btn-fill btn-round btn-twitter">
                                    {% trans "Sign Up" %}
                                </a>
                            </div>
                        {% endif %}
                    </div>

                    <div class="row">
                        <div id="show_grade" style="margin-bottom: 10px"
                             class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">

                        </div>
                        <div id="show_button" style="margin-bottom: 10px" class="col-md-6 col-md-offset-3 text-center">
                            <button style="margin-right: 10px" onclick="clickLast()" class="btn btn-lg  btn-round">
                                {% trans "previous" %}
                            </button>
                            <button style="margin-left: 10px" onclick="clickNext()"
                                    class="btn btn-lg  btn-round ">{% trans "next" %}</button>
                        </div>
                        <form class="form" id="updateAssessment_form" action="/course/updateAssessment/" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="rightnumber" id="rightnumber"/>
                            <input type="hidden" name="detail" id="detail"/>
                            <input type="hidden" name="course_level" id="course_level"/>
                            <input type="hidden" name="programme" id="programme"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="{% static "js/jquery.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery-ui.js" %}" type="text/javascript"></script>
    <script src="{% static 'js/circle-progress.js' %}" type="text/javascript"></script>
    <script>
        $("#show_button").hide();
        $("#pc_show_button").hide();
        $("#hide_Sign").hide();
        $("#pc_hide_Sign").hide();
        var timerGet = null;
        var continuRight = 0;
        var continuWrong = 0;
        var highOrLow = 0;
        var lowQues;
        var currentQus;
        var highQues;
        var allQuestionNum = 20;
        var testgrade = 1;
        var highgrade = {{ high_level|safe}};
        var lowgrade = {{ low_level|safe}};
        var judgeNum = 0;
        var clearJudge = false;
        var num = 0; //当前第几题
        var judgeArr = new Array(); //临时判断题目数组
        var questList = {{ questions|safe}}; //存储所有题目
        var hasArray = new Array();  //存储已做题目
        var isSubmit = false;
        var circle = $("#circle-progress-animator").circleProgress({
            value: 0,
            size: 80,
            fill: {
                gradient: ["#8274FA", "#A8ECEF"]
            },
            animation: {
                duration: 200,
            },
            startAngle: -Math.PI / 2,
            emptyFill: "transparent",
            thickness: "3",
        });

        circle.on("circle-animation-progress", function (event, progress, stepValue) {
            $('#circle-progress-text').text(parseInt((stepValue * 100).toFixed(2)) + "%");
        });

        var realNum = 0;

        function notifyProgress() {
            if (isPhone()) {
                return;
            }
            circle.circleProgress('value', (realNum + 1) / allQuestionNum);
            realNum++;
        }

        showQuestion(0);

        function clickLast() {
            if (num == 0)
                alert("第一道题目");
            else {
                num--;
                if (!isSubmit) {
                    showQuestion(num);
                } else {
                    if (ExitHasQues()) {
                        showSelectAn(num)
                    } else {
                        showRightSelect(num);
                    }
                }
            }
        }

        function getReadlyQues() {
            if (testgrade > 1) {
                getLastGradeQuest();
            }
            if (testgrade < highgrade) {
                getNextGradeQuest();
            }
            getCurrentGradeQuest();
        }

        function getCurrentGradeQuest() {
            var questionNo = '';
            for (var i in questList) {
                var tempNo = questList[i].no + ',';
                questionNo = questionNo + tempNo;
            }
            questionNo = questionNo.substr(0, questionNo.length - 1);
            $.get("/course/getQuestion/", {course: testgrade, level: "1", e: questionNo}, function (data) {
                currentQus = data[0];
            }, "json");
        }

        function getLastGradeQuest() {
            var questionNo = '';
            for (var i in questList) {
                var tempNo = questList[i].no + ',';
                questionNo = questionNo + tempNo;
            }
            questionNo = questionNo.substr(0, questionNo.length - 1);
            var lastgrade = testgrade - 1;
            $.get("/course/getQuestion/", {course: lastgrade, level: "1", e: questionNo}, function (data) {
                lowQues = data[0];
            }, "json");
        }

        function getNextGradeQuest() {
            var questionNo = '';
            for (var i in questList) {
                var tempNo = questList[i].no + ',';
                questionNo = questionNo + tempNo;
            }
            questionNo = questionNo.substr(0, questionNo.length - 1);
            var nextgrade = testgrade + 1;
            $.get("/course/getQuestion/", {course: nextgrade, level: "1", e: questionNo}, function (data) {
                highQues = data[0];
            }, "json");
        }

        function gotoNextQues() {
            num++;
            if (num >= allQuestionNum) {
                num = allQuestionNum - 1;
                if (!isSubmit) {
                    submitAnswer()
                }
            } else if (num == questList.length - 1 && questList.length < allQuestionNum) {
                showQuestion(num);
                getReadlyQues();
            } else {
                if (num > 2) {
                    judgeIsAdd();
                    getReadlyQues();
                }
                if (num < questList.length) {
                    showQuestion(num)
                } else {
                    $('#loading').modal('show');
                    timerGet = window.setInterval(timerGetQuestion, 1000);
                }
            }
        }

        function clickNext() {
            num++;
            if (num >= allQuestionNum) {
                if (!isSubmit) {
                    if (!exitJudgeArr(num - 1)) {
                        var tempObj = questList[num - 1];
                        tempObj.titleNum = num - 1;
                        judgeGrade(tempObj)
                        var questionObj = questList[num - 1];
                        questionObj.select = "";
                        questionObj.titleNum = num - 1;
                        if (!ExitHasQues()) {
                            hasArray.push(questionObj);
                        }
                    }
                    submitAnswer()
                }
                num = allQuestionNum - 1
            } else if (questList.length < allQuestionNum) {
                if (!isSubmit) {
                    if (!exitJudgeArr(num - 1)) {
                        var tempObj = questList[num - 1];
                        tempObj.titleNum = num - 1;
                        judgeGrade(tempObj)
                        var questionObj = questList[num - 1];
                        questionObj.select = "";
                        questionObj.titleNum = num - 1;
                        if (!ExitHasQues()) {
                            hasArray.push(questionObj);
                        }
                    }
                    if (num == questList.length - 1) {
                        if (!isSubmit) {
                            getReadlyQues();
                        }
                    } else if (num > questList.length - 1) {
                        if (num > questList.length - 1) {
                            $('#loading').modal('show');
                            timerGet = window.setInterval(timerGetQuestion, 1000);
                        } else {
                            judgeIsAdd()
                            if (!isSubmit) {
                                getReadlyQues()
                            }
                        }
                    }
                    if (num < questList.length) {
                        showQuestion(num)
                    }
                } else {
                    if (ExitHasQues()) {
                        showSelectAn(num);
                    } else {
                        showRightSelect(num);
                    }
                }
            } else {
                if (!isSubmit) {
                    if (num < questList.length) {
                        showQuestion(num)
                    } else {
                        num--;
                    }
                } else {
                    if (ExitHasQues()) {
                        showSelectAn(num);
                    } else {
                        showRightSelect(num);
                    }
                }
            }
            notifyProgress();
        }

        function timerGetQuestion() {
            judgeIsAdd();
            if (num < questList.length) {
                $('#loading').modal('hide');
                showQuestion(num)
                window.clearTimeout(timerGet);
                getReadlyQues();
            }
        }

        function judgeIsAdd() {
            switch (highOrLow) {
                case 0: {
                    if (currentQus != null) {
                        questList.push(currentQus);
                        currentQus = null;
                        highQues = null;
                        lowQues = null;
                    }
                    break;
                }
                case 1: {
                    if (highQues != null) {
                        questList.push(highQues)
                        currentQus = null;
                        highQues = null;
                        lowQues = null;
                    }
                    break;
                }
                case 2: {
                    if (lowQues != null) {
                        questList.push(lowQues)
                        currentQus = null;
                        highQues = null;
                        lowQues = null;
                    }
                    break;
                }
            }
        }

        function showQuestion(obj) {
            $('#question_content').empty();
            $('#pc_question_content').empty();
            var no = parseInt(obj);
            var stemHtml = "";
            var stemList = questList[no].stem;
            if (isPc()) {
                stemHtml = '<div style="margin-left:112px;width:335px"><li style="list-style: none"><label class="assessment-question">' + (no + 1) + '、';
            } else {
                stemHtml = '<li style="list-style: none"><label style="font-size: 16px">' + (no + 1) + '、';
            }
            stemHtml = stemHtml + '{% if isdebug  %}（'+ questList[no].no +'）{% endif %}'
            for (var i = 0; i < stemList.length; i++) {
                var temp = stemList[i];
                stemHtml = stemHtml + temp;
                if (isPhone()) {
                    stemHtml += '</br>';
                }
            }
            stemHtml = stemHtml + '</label></li>'
            if (isPc()) {
                Ahtml = '<li style="list-style: none;font-size: 16px;color: #00bbff;margin-top: 10px"><button value="A" onclick="clickAnswer(this)" class="assessment-option">' + 'A:' + questList[no].alternative.A + '</button></li>';
                Bhtml = '<li style="list-style: none;font-size: 16px;color: #00bbff;"><button value="B"  onclick="clickAnswer(this)" class="assessment-option">' + 'B:' + questList[no].alternative.B + '</button></li>';
                Chtml = '<li style="list-style: none;font-size: 16px;color: #00bbff;"><button value="C" class="assessment-option" onclick="clickAnswer(this)">' + 'C:' + questList[no].alternative.C + '</button></li>';
                Dhtml = '<li style="list-style: none;font-size: 16px;color: #00bbff;"><button value="D" class="assessment-option"  onclick="clickAnswer(this)">' + 'D:' + questList[no].alternative.D + '</button></li><div>';
            } else {
                Ahtml = '<li style="list-style: none;font-size: 16px;color: #00bbff;margin-top: 10px"><button value="A" onclick="clickAnswer(this)" style="text-align: left;border: 0px;background-color: transparent">' + 'A:' + questList[no].alternative.A + '</button></li>';
                Bhtml = '<li style="list-style: none;font-size: 16px;color: #00bbff;margin-top: 10px"><button value="B"  onclick="clickAnswer(this)" style="text-align: left;border: 0px;background-color: transparent ">' + 'B:' + questList[no].alternative.B + '</button></li>';
                Chtml = '<li style="list-style: none;font-size: 16px;color: #00bbff;margin-top: 10px"><button value="C" style="text-align: left;border: 0px;background-color: transparent " onclick="clickAnswer(this)">' + 'C:' + questList[no].alternative.C + '</button></li>';
                Dhtml = '<li style="list-style: none;font-size: 16px;color: #00bbff;margin-top: 10px"><button value="D"  onclick="clickAnswer(this)" style="text-align: left;border: 0px;background-color: transparent ">' + 'D:' + questList[no].alternative.D + '</button></li>';
            }
            var select = questList[no].select;
            if (select != null) {
                switch (select) {
                    case "A":
                        Ahtml = '<li style="list-style: none;font-size: 16px;color:white"><button style="text-align: left;border: 0px;background-color: #00bbff;border-radius: 5px" value="A" onclick="clickAnswer(this)" >' + 'A:' + questList[no].alternative.A + '</button></li>';
                        break;
                    case "B":
                        Bhtml = '<li style="list-style: none;font-size: 16px;color:white"><button value="B"  onclick="clickAnswer(this)" style="text-align: left;border: 0px;background-color: #00bbff;border-radius: 5px">' + 'B:' + questList[no].alternative.B + '</button></li>';
                        break;
                    case "C":
                        Chtml = '<li style="list-style: none;font-size: 16px;color:white"><button value="C"  onclick="clickAnswer(this)" style="text-align: left;border: 0px;background-color: #00bbff;border-radius: 5px">' + 'C:' + questList[no].alternative.C + '</button></li>';
                        break;
                    case "D":
                        Dhtml = '<li style="list-style: none;font-size: 16px;color:white"><button value="D"  onclick="clickAnswer(this)" style="text-align: left;border: 0px;background-color: #00bbff;border-radius: 5px">' + 'D:' + questList[no].alternative.D + '</button></li>';
                        break;
                }
            }
            html = '<ul>' + stemHtml + Ahtml + Bhtml + Chtml + Dhtml + '</ul>';
            $(html).appendTo('#question_content');
            $(html).appendTo('#pc_question_content');
        }

        function clickAnswer(obj) {
            var userAns = obj.value;
            var questionObj = questList[num];
            questionObj.select = userAns;
            questionObj.titleNum = num;
            if (!ExitHasQues()) {
                hasArray.push(questionObj);
            }
            if (!exitJudgeArr(num)) {
                judgeGrade(questionObj);
            }
            notifyProgress();
            gotoNextQues();
        }

        function exitJudgeArr(quesnum) {
            for (var i in judgeArr) {
                var questionObj = judgeArr[i];
                var hasTitleNum = questionObj.titleNum;
                if (hasTitleNum == quesnum) {
                    return true;
                }
            }
            return false;
        }

        function ExitHasQues() {
            for (var i in hasArray) {
                var questionObj = hasArray[i];
                var hasTitleNum = questionObj.titleNum;
                if (hasTitleNum == num) {
                    return true;
                }
            }
            return false;
        }

        function judgeGrade(obj) {
            judgeArr.push(obj);
            var answer = obj.answer;
            answer.split(' ').join('');
            var select = obj.select;
            if (select == answer) {
                continuRight++;
                continuWrong = 0;
            } else {
                continuWrong++;
                continuRight = 0;
            }
            if (continuRight == 3) {
                if (testgrade < highgrade) {
                    testgrade++;
                    highOrLow = 1;
                } else {
                    highOrLow = 0;
                }
                continuRight = 0;
            } else if (continuWrong == 3) {
                if (testgrade > lowgrade) {
                    testgrade--;
                    highOrLow = 2;
                } else {
                    highOrLow = 0;
                }
                continuWrong = 0;
            } else {
                highOrLow = 0;
            }
        }

        function submitResult() {
            var rightNumber = statistRightOrWrong();
            var answerDetailArr = getAnswerDetail();
            var detailJson = JSON.stringify(answerDetailArr);
            document.getElementById("detail").value = detailJson;
            document.getElementById("course_level").value = testgrade;
            document.getElementById("rightnumber").value = rightNumber;
            document.getElementById("programme").value = 'Advanced';
            document.getElementById("updateAssessment_form").submit();
        }

        function getAnswerDetail() {
            var detailArr = new Array();
            for (var i in  hasArray) {
                var detailObj = new Object();
                detailObj.no = hasArray[i].no;
                detailObj.correct_answer = hasArray[i].answer.split(' ').join('');
                detailObj.answer = hasArray[i].select;
                detailArr.push(detailObj);
            }
            return detailArr
        }

        function submitAnswer() { //提交答案
            allQuestionNum = questList.length;
            isSubmit = true;
            submitResult();
        }

        function statistRightOrWrong() {
            var rightCount = 0;
            for (var i in hasArray) {
                var questionObject = hasArray[i];
                var answer = questionObject.answer;
                answer.split(' ').join('');
                var select = questionObject.select;
                if (answer == select) {
                    rightCount++;
                }
            }
            return rightCount;
        }

        function showSelectResult() { //显示答题结果
            if (ExitHasQues()) {
                showSelectAn(num);
            } else {
                showRightSelect(num);
            }
        }

        function showSelectAn(quesnum) {
            var no = parseInt(quesnum);
            var quesobj = questList[no]
            var answer = quesobj.answer;
            answer.split(' ').join('');
            var select = quesobj.select;
            $('#question_content').empty();
            $('#pc_question_content').empty();
            showOption(quesnum);
            if (answer == 'A') {
                Ahtml = '<li style="list-style: none;font-size: 16px;color: #00bbff;margin-top: 10px"><button value="A" id="successBtn" style="text-align: left;border: 2px solid deepskyblue;border-radius: 5px; background-color: transparent">' + 'A:' + quesobj.alternative.A + '</button></li>';
            } else if (answer == 'B') {
                Bhtml = '<li style="list-style: none;font-size: 16px;color: #00bbff;margin-top: 10px"><button value="B" id="successBtn" style="text-align: left;border: 2px solid deepskyblue;border-radius: 5px; background-color: transparent">' + 'B:' + quesobj.alternative.B + '</button></li>';
            } else if (answer == 'C') {
                Chtml = '<li style="list-style: none;font-size: 16px;color: #00bbff;margin-top: 10px"><button value="C" id="successBtn" style="text-align: left;border: 2px solid deepskyblue;border-radius: 5px; background-color: transparent">' + 'C:' + quesobj.alternative.C + '</button></li>';
            } else {
                Dhtml = '<li style="list-style: none;font-size: 16px;color: #00bbff;margin-top: 10px"><button value="D" id="successBtn" style="text-align: left;border: 2px solid deepskyblue;border-radius: 5px; background-color: transparent">' + 'D:' + quesobj.alternative.D + '</button></li>';
            }
            if (answer != select) {
                if (select == 'A') {
                    Ahtml = '<li style="list-style: none;font-size: 16px;color: #00bbff;margin-top: 10px"><button value="A" id="errorBtn" style="text-align: left;border: 0px ;border-radius: 5px; background-color: #FF9500">' + 'A:' + quesobj.alternative.A + '</button></li>';
                } else if (select == 'B') {
                    Bhtml = '<li style="list-style: none;font-size: 16px;color: #00bbff;margin-top: 10px"><button value="B" id="errorBtn" style="text-align: left;border: 0px ;border-radius: 5px; background-color: #FF9500">' + 'B:' + quesobj.alternative.B + '</button></li>';
                } else if (select == 'C') {
                    Chtml = '<li style="list-style: none;font-size: 16px;color: #00bbff;margin-top: 10px"><button value="C" id="errorBtn" style="text-align: left;border: 0px ;border-radius: 5px; background-color: #FF9500">' + 'C:' + quesobj.alternative.C + '</button></li>';
                } else if (select == 'D') {
                    Dhtml = '<li style="list-style: none;font-size: 16px;color: #00bbff;margin-top: 10px"><button value="D" id="errorBtn" style="text-align: left;border: 0px ;border-radius: 5px; background-color: #FF9500">' + 'D:' + quesobj.alternative.D + '</button></li>';
                }
            } else {
                if (answer == 'A') {
                    Ahtml = '<li style="list-style: none;font-size: 16px;color: #00bbff;margin-top: 10px"><button value="A" id="successBtn" style="text-align: left;border: 2px solid deepskyblue;border-radius: 5px; background-color: #75ff0d">' + 'A:' + quesobj.alternative.A + '</button></li>';
                } else if (answer == 'B') {
                    Bhtml = '<li style="list-style: none;font-size: 16px;color: #00bbff;margin-top: 10px"><button value="B" id="successBtn" style="text-align: left;border: 2px solid deepskyblue;border-radius: 5px; background-color: #75ff0d">' + 'B:' + quesobj.alternative.B + '</button></li>';
                } else if (answer == 'C') {
                    Chtml = '<li style="list-style: none;font-size: 16px;color: #00bbff;margin-top: 10px"><button value="C" id="successBtn" style="text-align: left;border: 2px solid deepskyblue;border-radius: 5px; background-color: #75ff0d">' + 'C:' + quesobj.alternative.C + '</button></li>';
                } else {
                    Dhtml = '<li style="list-style: none;font-size: 16px;color: #00bbff;margin-top: 10px"><button value="D" id="successBtn" style="text-align: left;border: 2px solid deepskyblue;border-radius: 5px; background-color: #75ff0d">' + 'D:' + quesobj.alternative.D + '</button></li>';
                }
            }
            html = '<ul>' + stemHtml + Ahtml + Bhtml + Chtml + Dhtml + '</ul>';
            $(html).appendTo('#question_content');
            $(html).appendTo('#pc_question_content');
        }

        function showOption(quesnum) {
            var no = parseInt(quesnum);
            var quesobj = questList[no];
            stemHtml = '<li style="list-style: none"><label style="font-size: 16px">' + (no + 1) + '、' + quesobj.stem + '（' + questList[no].no + '）' + '</label></li>';
            var stemList = quesobj.stem;
            stemHtml = '<li style="list-style: none"><label style="font-size: 16px">' + (no + 1) + '、';
            stemHtml = stemHtml + '{% if isdebug  %}（'+ questList[no].no +'）{% endif %}'
            for (var i = 0; i < stemList.length; i++) {
                var temp = stemList[i];
                stemHtml = stemHtml + temp;
            }
            stemHtml = stemHtml + '</label></li>'
            Ahtml = '<li style="list-style: none;font-size: 16px;color: #00bbff;margin-top: 10px"><button value="A" style="text-align: left;border: 0px;background-color: transparent">' + 'A:' + quesobj.alternative.A + '</button></li>';
            Bhtml = '<li style="list-style: none;font-size: 16px;color: #00bbff;margin-top: 10px"><button value="B" style="text-align: left;border: 0px;background-color: transparent ">' + 'B:' + quesobj.alternative.B + '</button></li>';
            Chtml = '<li style="list-style: none;font-size: 16px;color: #00bbff;margin-top: 10px"><button value="C" style="text-align: left;border: 0px;background-color: transparent">' + 'C:' + quesobj.alternative.C + '</button></li>';
            Dhtml = '<li style="list-style: none;font-size: 16px;color: #00bbff;margin-top: 10px"><button value="D" style="text-align: left;border: 0px;background-color: transparent ">' + 'D:' + quesobj.alternative.D + '</button></li>';
        }

        function showRightSelect(quesnum) {
            var no = parseInt(quesnum);
            var quesobj = questList[no];
            var right = quesobj.answer;
            right.split(' ').join('');
            $('#question_content').empty();
            $('#pc_question_content').empty();
            showOption(quesnum);
            if (right == 'A') {
                Ahtml = '<li style="list-style: none;font-size: 16px;color: #00bbff;margin-top: 10px"><button style="text-align: left;border: 2px solid limegreen;border-radius: 5px; background-color: transparent" value="A" id="successBtn" >' + 'A:' + quesobj.alternative.A + '</button></li>';
            } else if (right == 'B') {
                Bhtml = '<li style="list-style: none;font-size: 16px;color: #00bbff;margin-top: 10px"><button value="B" id="successBtn" style="text-align: left;border: 2px solid limegreen;border-radius: 5px; background-color: transparent">' + 'B:' + quesobj.alternative.B + '</button></li>';
            } else if (right == 'C') {
                Chtml = '<li style="list-style: none;font-size: 16px;color: #00bbff;margin-top: 10px"><button value="C" id="successBtn" style="text-align: left;border: 2px solid limegreen;border-radius: 5px; background-color: transparent">' + 'C:' + quesobj.alternative.C + '</button></li>';
            } else {
                Dhtml = '<li style="list-style: none;font-size: 16px;color: #00bbff;margin-top: 10px"><button value="D" id="successBtn" style="text-align: left;border: 2px solid limegreen;border-radius: 5px; background-color: transparent">' + 'D:' + quesobj.alternative.D + '</button></li>';
            }
            html = '<ul>' + stemHtml + Ahtml + Bhtml + Chtml + Dhtml + '</ul>';
            $(html).appendTo('#question_content');
            $(html).appendTo('#pc_question_content');
        }

        function clickQuestNo(obj) {
            var quesno = obj.value;
            num = quesno;
            if (ExitHasQues()) {
                showSelectAn(quesno)
            } else {
                showRightSelect(quesno);
            }
        }

        function showQuesNo() {
            var allNumber = questList.length;
            var rowCount = 0;
            //平台、设备和操作系统
            var system = {
                win: false,
                mac: false,
                xll: false,
                ipad: false
            };
            //检测平台
            var p = navigator.platform;
            system.win = p.indexOf("Win") == 0;
            system.mac = p.indexOf("Mac") == 0;
            system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
            system.ipad = (navigator.userAgent.match(/iPad/i) != null) ? true : false;
            //跳转语句，如果是手机访问就自动跳转到wap.baidu.com页面
            var count = 0;
            if (system.win || system.mac || system.xll) {
                count = 3
            } else if (system.ipad) {
                count = 4
            } else {
                return;
            }
            if (allNumber % count == 0) {
                rowCount = allNumber / count;
            } else {
                rowCount = allNumber / count + 1;
            }
            var html = '<table style="margin-left:5px;border-collapse:separate;border-spacing:5px">'
            for (var i = 0; i < rowCount; i++) {
                html += '<tr>';
                for (var j = 0; j < count; j++) {
                    if ((i * count + j) < allNumber) {
                        var value = i * count + j;
                        html += '<td>';
                        html += '<button onclick="clickQuestNo(this)" class="btn pull-right  btn-round btn-twitter"' + 'value=' + value + '>' + ((i * count + j) + 1) + '</button>';
                        html += '</td>';
                    }
                }
                html += '</tr>';
            }
            html += '</table>';
            console.log(html);
            $(html).appendTo('#question_num');
            var titlehtml = '<h4 style="margin-left: 20px">';
            titlehtml += '{% trans "List" %}' + '</h4>';
            $(titlehtml).appendTo('#question_title');
        }
    </script>
{% endblock %}