<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>landing-page</title>
    <link href="/static/css/landing-page.css" type="text/css" rel="stylesheet">
    <meta name="viewport"
          content="width=width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0">
</head>
<body>
<header>
    <img src="/static/images/logo.png">
</header>

<main>
    <div class="banner">
        <div class="banner-content">
            <div class="welcome-children">
                <div class="welcome-girl-container">
                    <img src="/static/images/welcome-girl.png" class="welcome-girl">
                </div>

                <div class="welcome-boy-container">
                    <img src="/static/images/welcome-boy.png" class="welcome-boy">
                </div>
            </div>

            <h1>Prepare your child for the<br>latest updated PSLE syllabus</h1>

            <p class="description">Learn with our native Chinese teachers online and real time. Let our
                experienced teachers help your child
                Master PSLE Chinese with ease.</p>


            <form class="concat-form">
                <label>First name</label>
                <input class="text-input">

                <label class="email-label">Email</label>
                <input class="text-input">

                <button class="submit-btn" type="button">Claim 2 FREE classes now!</button>
            </form>
        </div>
    </div>

    <div class="advantage">
        <h2>Why LingoAce</h2>
        <div class="advantage-list">
            <div class="item-container">
                <img class="num" src="/static/images/welcome-num-1.png">
                <div class="item">
                    <h3 class="title">Live 1 on 1 class</h3>
                    <p class="description">Enjoy undivided attention to maximise your child's learning.</p>
                </div>
            </div>

            <div class="item-container">
                <img class="num" src="/static/images/welcome-num-2.png">
                <div class="item">
                    <h3 class="title">Personalized classes</h3>
                    <p class="description">Every class will be personalized to suit your child's pace and needs.</p>
                </div>
            </div>

            <div class="item-container">
                <img class="num" src="/static/images/welcome-num-3.png">
                <div class="item">
                    <h3 class="title">Interactive teaching</h3>
                    <p class="description">Increases fun and knowledge retention for better learning.</p>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <p>PPLingo, Communication Inspires Future</p>

    <div class="footer-icon-group">
        <img src="/static/images/welcome-facebook.png">
        <img src="/static/images/welcome-ins.png">
    </div>
</footer>
</body>
</html>