{% extends 'man/base.html' %}
{% load i18n %}

{% block title %}{% trans "TeachPlan Preview" %}{% endblock %}

{% block content %}
	<div class="content">
            <div class="container-fluid">
    <!-- List of courses -->
    	<div class="row">

    {% if courses %}

        <table class="table">
        <tr>
        <td>    {% trans 'Plan' %}</td>
        {% for course in courses %}
	        {% ifequal cur_course course.id %}
            <td><a style="color: red;" href="/man/course/teachplan/?course={{ course.id }}">{{ course.course_name }}</a></td>
            {% else %}
	        <td><a href="/man/course/teachplan/?course={{ course.id }}">{{ course.course_name }}</a></td>
            {% endifequal %}
        {% endfor %}
        </tr>
        </table>

    {% else %}
        <a href="/man/course/teachplan/">Reselect course</a>
    {% endif %}
    </div>

    <!-- List of sessions -->
    	<div class="row">

    {% if sessions %}

    <table class="table">
        <tr>
            <td>    {% trans 'session' %}</td>
            <td>
        {% for session in sessions %}
	        {% ifequal cur_session session.id %}
            <a style="color: red;" href="/man/course/teachplan/?course={{ session.course.id }}&session={{ session.id}}">{{ session.lesson_no }}</a> &nbsp;
            {% else %}
	        <a href="/man/course/teachplan/?course={{ session.course.id }}&session={{ session.id}}">{{ session.lesson_no }}</a> &nbsp;
            {% endifequal %}
	        {% if forloop.counter == 25 %}
            <br>
            {% endif %}
        {% endfor %}
            </td>
        </tr>
    </table>
    {% else %}
{#        {% trans 'session does not exist or homework is not selected' %}#}
    {% endif %}
    <table width="80%">
        <tr>
            <td>{% trans "preview" %}</td>
            <td style="margin-left: 10px">
                {% for tp in teachplans %}
                    <a href="{{ tp.tp_content }}">{% trans "File URL:" %}{{ tp.tp_content }}</a>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td colspan="2">
               {% for tp in teachplans %}
                    <embed  width="100%" height="500" src="{{ tp.tp_content }}" type="application/pdf"> </embed>
                {% endfor %}
            </td>
        </tr>
    </table>
{% endblock %}
